@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Quan trọng: Reset lại body để tràn màn hình */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: white; /* Đặt nền trắng */
  
  /* Xóa dòng display: flex và place-items: center cũ đi */
  display: block; 
}

#root {
  width: 100%;
  height: 100%;
}

.perspective-1000 { perspective: 1000px; }
.preserve-3d { transform-style: preserve-3d; }
.backface-hidden { backface-visibility: hidden; }
.rotate-y-180 { transform: rotateY(180deg); }